# For Loops

In [1]:
even = [0,2,4,6,8,10,12,14,16,18,20]
#list

In [2]:
for n in even:
    print (n)

0
2
4
6
8
10
12
14
16
18
20

In [3]:
#print in a line , end = " "
for n in even:
    print (n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

# While Loop

In [5]:
x = 0
while x <= 20:
    print(x, end = " ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [6]:
x = 0
while x <= 20:
    print(x, end = " ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

# Lists with Range ()

range(start, stop, step)\
range if not provided (0, stop, 1)\
start = the first number in the list\
stop = the last value -1\
step = the distance between each two consequtive values

In [10]:
list(range(1,21,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Conditional Statements and Loops

In [11]:
for n in range(10):
    print (2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [15]:
for x in range(20):
    if x % 2 == 0:
        print(x, end = " ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [16]:
x = [0,1,2]

for item in x:
    print(item, end = " ")

0 1 2

In [17]:
#used to select value from a list
for i in range(len(x)):
    print(x[i], end = " ")

0 1 2

In [22]:

for i in range(10):
    print(i * 2, end = " ")

0 2 4 6 8 10 12 14 16 18

You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10. Find two solutions of this problem.

In [23]:
n = [1,2,3,4,5,6]

for i in range(len(n)):
    print(n[i] * 10, end = " ")

for i in n:
    print(i * 10, end = " ")

10 20 30 40 50 60 10 20 30 40 50 60

# Conditional Statments, Functions, Loops

In [27]:
#Count the number of items whos value is less than 20 in a list
def count(numbers):
    total = 0  #rolling sum
    for i in numbers:
        if i < 20:
            total += 1
    return total

In [28]:
list3 = [1,5,10,14,55,68,54]

In [29]:
count(list3)

4

You are provided with the nums list. Define a function called count() containing a while loop to count the number of values in the nums list that are lower than 20.

In [40]:
nums = [1,35,12,24,31,51,70,100]

def count(numbers):
    numbers = sorted(numbers)
    total = 0
    
    while numbers[total] < 20:
        total += 1
    return total

In [41]:
count(nums)

2

# Iterate over Dictionaries

In [44]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])
print(money_spent)

74

Use the same dictionaries as the ones we used in the lesson - prices and quantity. This time, don't just calculate all the money Jan spent. Calculate how much she spent on products with a price of 5 dollars or more.

In [45]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }
    
money_spent = 0

for i in prices:
    if prices[i] >= 5:
        money_spent = money_spent + (prices[i] * quantity[i])
print(money_spent)

50