# Amortization Schedule
Make an amortization schedule for your loan. Adjust the Loan details to match your loan.

In [8]:
import pandas as pd
import numpy as np

# Loan details
loan_amount = 90000  # Amount financed after 10% down
annual_interest_rate = 0.135  # 15.5% interest
loan_term_years = 10
monthly_interest_rate = annual_interest_rate / 12  # Monthly interest rate
num_payments = loan_term_years * 12  # Total number of payments

# Calculate monthly payment using loan amortization formula
monthly_payment = (loan_amount * monthly_interest_rate) / (1 - (1 + monthly_interest_rate) ** -num_payments)

# Create amortization schedule
schedule = []
remaining_balance = loan_amount

for month in range(1, num_payments + 1):
    interest_payment = remaining_balance * monthly_interest_rate
    principal_payment = monthly_payment - interest_payment
    remaining_balance -= principal_payment
    
    schedule.append([month, monthly_payment, principal_payment, interest_payment, max(0, remaining_balance)])

# Convert to DataFrame
columns = ["Month", "Monthly Payment", "Principal", "Interest", "Remaining Balance"]
amortization_df = pd.DataFrame(schedule, columns=columns)
amortization_df = amortization_df.round(2)

# Format values with $ sign and commas
amortization_df["Monthly Payment"] = amortization_df["Monthly Payment"].apply(lambda x: f"${x:,.2f}")
amortization_df["Principal"] = amortization_df["Principal"].apply(lambda x: f"${x:,.2f}")
amortization_df["Interest"] = amortization_df["Interest"].apply(lambda x: f"${x:,.2f}")
amortization_df["Remaining Balance"] = amortization_df["Remaining Balance"].apply(lambda x: f"${x:,.2f}")


# Display first few rows
amortization_df

     Month Monthly Payment  Principal   Interest Remaining Balance
0        1       $1,370.47    $357.97  $1,012.50        $89,642.03
1        2       $1,370.47    $362.00  $1,008.47        $89,280.04
2        3       $1,370.47    $366.07  $1,004.40        $88,913.97
3        4       $1,370.47    $370.19  $1,000.28        $88,543.78
4        5       $1,370.47    $374.35    $996.12        $88,169.43
..     ...             ...        ...        ...               ...
115    116       $1,370.47  $1,295.91     $74.55         $5,331.10
116    117       $1,370.47  $1,310.49     $59.97         $4,020.60
117    118       $1,370.47  $1,325.24     $45.23         $2,695.37
118    119       $1,370.47  $1,340.15     $30.32         $1,355.22
119    120       $1,370.47  $1,355.22     $15.25             $0.00

[120 rows x 5 columns]

In [9]:
# Remove formatting and convert back to numeric for calculations
amortization_df_numeric = amortization_df.copy()
amortization_df_numeric["Monthly Payment"] = amortization_df_numeric["Monthly Payment"].replace('[\$,]', '', regex=True).astype(float)
amortization_df_numeric["Principal"] = amortization_df_numeric["Principal"].replace('[\$,]', '', regex=True).astype(float)
amortization_df_numeric["Interest"] = amortization_df_numeric["Interest"].replace('[\$,]', '', regex=True).astype(float)

# Calculate totals
total_paid = amortization_df_numeric["Monthly Payment"].sum()
total_principal = amortization_df_numeric["Principal"].sum()
total_interest = amortization_df_numeric["Interest"].sum()

# Format totals with $ sign and commas
total_paid_formatted = f"${total_paid:,.2f}"
total_principal_formatted = f"${total_principal:,.2f}"
total_interest_formatted = f"${total_interest:,.2f}"

totals_df = pd.DataFrame({
    "Category": ["Total Amount Paid", "Total Principal Paid", "Total Interest Paid"],
    "Amount": [total_paid_formatted, total_principal_formatted,total_interest_formatted]
})

totals_df

               Category       Amount
0     Total Amount Paid  $164,456.40
1  Total Principal Paid   $90,000.02
2   Total Interest Paid   $74,456.22