# Functions

def - keyword to tell the computer you are defining a function

In [3]:
#def function_name(parameters):
    #function body
#call function

def simple():
    print("My first function")
simple()

My first function

# Functions with Parameters

assign a more intuitive name to a function

In [4]:
def plus_ten(a):
    return a + 10

plus_ten(2)

12

In [5]:
#input:   >  f(x)   >  output:
#  x      >  x+10   >  y
#input(x) >  return >  output(y)

In [6]:
def division_by_2(x):
    return float(x / 2)

division_by_2(10)

5.0

# Defining a Function in Python

print - does not affect the calculation of the output\
\
return - does not visualize the output - specifies what the function is to give back

In [7]:
#def function_name(parameters):
    #another variable
    #return variable
#call function

def plus_ten(a):
    result = a + 10
    return result
plus_ten(5)

15

Define a function called exponentiation_exp_2(x) that states the value of the argument accompanied by the phrase "Raised to the power of 2:" and returns a value equal to its argument raised to the power of 2. This time, use a new variable, called result, in the body of the Function. Call the function with some argument to verify it works properly.

In [8]:
def exponentiation_exp_2(x):
    result = x ** 2
    print("Raised to the power of 2:")
    return result
    
exponentiation_exp_2(4)

Raised to the power of 2:

16

# Use a Function within a Function

In [9]:
def wage(w_hours):
    return w_hours * 25

wage(1)

25

In [11]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

wage(1), with_bonus(1)

#must run first function first

(25, 75)

Define a function called plus_five() that adds 5 to its argument. Then, define another function named m_by_3() that multiplies the argument (the result obtained from plus_five()) by 3. Verify your code was correct by calling the second function with an argument of 5. Was your output equal to 30?

In [12]:
def plus_five(a):
    return a + 5
    
def m_by_3(a):
    return plus_five(a) * 3

m_by_3(5)

30

# Conditional Statements and Functions

In [13]:
def add_ten(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save more!"
    
add_ten(110)

120

In [14]:
add_ten(50)

'Save more!'

Define a function, called compare_the_two(), with two arguments. If the first one is greater than the second one, let it print "Greater". If the second one is greater, it should print "Less". Let it print "Equal" if the two values are the same number.

In [15]:
def compare_the_two(x,y):
    if x > y:
        return "Greater"
    elif y > x:
        return "Less"
    elif x == y:
        return "Equal"
        
compare_the_two(1,5)

'Less'

# Functions Containing a Few Arguments

def function_name(paramater, paramater, parameter)

In [16]:
def subtract_bc(a,b,c):
    result = a - b * c
    print('Parameter a equals', a)
    print('Parameter b equals', b)
    print('Parameter c equals', c)
    return result

subtract_bc(10,3,2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [17]:
subtract_bc(c = 2, a = 10,b = 3)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

# Built-in Functions in Python

In [24]:
#type() obtains the type of variable you use as an arguement
type('10')

str

In [22]:
#int(), float(), str() transform their arguments in an integer, float, and string data type
int(5.0)

5

In [21]:
float(5)

5.0

In [23]:
str(500)

'500'

In [25]:
#max() returns max value from a sequence of numbers
#min() returns min value
#abs() allows you to absolute valuse of its argument
#sum() returns the sum of all values in the argument
#round(x,y) returns the float of its argyment (x), rounded to a specific number ot digits (y) after the decimal
#pow(x,y) returns x to the power of y
#len() returns the number of elements in an object

Create a function, called distance_from_zero(), that returns the absolute value of a provided single argument and prints a statement "Not possible" if the argument provided is not a number. To solve the task, use the type() function in the body of distance_from_zero().

Call the function with the values of -10 and "cat" to verify it works correctly.

In [26]:
def distance_from_zero(x):
    if type(x) == str:
        print("Not possible")
    else:
        return abs(x)

In [27]:
distance_from_zero(-10)

10

In [28]:
distance_from_zero('cat')

Not possible