# Lists []

lists [" "," "] - a type of sequences of data points

indexing value 1 means extrcting the 2nd element in the list\
list values are strings

In [9]:
names = ['John', 'Mike', 'Cate', 'Sasha']
names

['John', 'Mike', 'Cate', 'Sasha']

In [3]:
names[3]

'Sasha'

In [4]:
names[0]

'John'

In [5]:
print(names[1])

Mike

In [6]:
#grab last name in the list
names[-1]

'Sasha'

In [10]:
#replacing values in a list
names[2] = "Maria"
names

['John', 'Mike', 'Maria', 'Sasha']

In [11]:
#delete values in a list
del names[1]
names

['John', 'Maria', 'Sasha']

# Using Methods

. dot opperator

object.method()\
names.append()

In [12]:
names.append("Dwayne")
names

['John', 'Maria', 'Sasha', 'Dwayne']

In [15]:
#extend([]) uses parantheses & brackets
names.extend(['George', 'Cate'])
names

['John', 'Maria', 'Sasha', 'Dwayne', 'George', 'Cate', 'George', 'Cate']

In [14]:
len(names)

6

#  List Slicing

object[index of first value : index after the last value needed]

In [16]:
names[1:3]

['Maria', 'Sasha']

In [17]:
#first two elements
names[:2]

['John', 'Maria']

In [20]:
#last two elements 
names[6:]

['George', 'Cate']

In [19]:
#last two elements 
names[-2:]

['George', 'Cate']

In [21]:
names.index("Maria")

1

In [26]:
#list of lists
newcomers = ["Jake", "Brittany"]

In [27]:
Bigger_List = [newcomers, names]
Bigger_List

[['Jake', 'Brittany'],
 ['John', 'Maria', 'Sasha', 'Dwayne', 'George', 'Cate', 'George', 'Cate']]

In [30]:
#using the sort() method
names.sort()
names

['Cate', 'Cate', 'Dwayne', 'George', 'George', 'John', 'Maria', 'Sasha']

In [29]:
names.sort(reverse = True)
names

['Sasha', 'Maria', 'John', 'George', 'George', 'Dwayne', 'Cate', 'Cate']

# Tuples ()

Tuples are can not be changed or modified, can not append or delete elements\
Tuples are in ()

In [32]:
x = (40, 41, 42)
x

(40, 41, 42)

In [39]:
y = 50, 51, 52
y

(50, 51, 52)

In [36]:
#tuples of variables & tuples of values
a, b, c = 1, 4, 6
c

6

In [38]:
#index values
x[0]

40

In [40]:
#tuples inside a list
List_1 = [x,y]
List_1

[(40, 41, 42), (50, 51, 52)]

In [41]:
(age, years_of_school) = "30,17".split(',')

In [42]:
print(age)

30

In [43]:
print(years_of_school)

17

In [44]:
#functions can provide tuples as return values

def square_info(x):
    A = x ** 2
    P = 4 * x
    print("Area and Perimeter:")
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

# Dictionaries {}

Another way of storing data - Key : Value pair\
values can be accessed using its Key

In [45]:
dict = {'k1':"cat", 'k2':"dog", 'k3':"mouse", 'k4':"fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [46]:
dict['k1']

'cat'

In [48]:
#assign a new key value pair
#name of dict, new key name in quotes & brackets, equal sign, new value
dict['k5'] = 'parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [50]:
#replace value with existing key
dict['k2'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [51]:
#one person works in dept 1 and 3 people work in dept 3
dep_workers = {'dep_1':"Peter", 'dep_2':['Jen', 'Rob', 'Joy']}
dep_workers

{'dep_1': 'Peter', 'dep_2': ['Jen', 'Rob', 'Joy']}

In [52]:
dep_workers['dep_2']

['Jen', 'Rob', 'Joy']

In [53]:
Team = {}
Team['Point Guard'] = 'Dirk'
Team['Center'] = 'Chris'
Team['Forward'] = 'Bob'
Team

{'Point Guard': 'Dirk', 'Center': 'Chris', 'Forward': 'Bob'}

In [54]:
Team['Center']

'Chris'

In [56]:
print(Team.get('Coach'))

None

Attach the Desserts list as a sixth meal

In [57]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

Menu['meal_6'] = Dessert